body{
    margin: 0%;
    font-family: 'Lobster', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.pink-highlight{
    color: rgb(228, 16, 157);
}
.haif-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.haif-width img{
    width: 100%;
}
.top-banner{
    background-repeat: no-repeat;
    background-image: url("Images/top-banner.png");
}
.dream-banner{
    background-repeat: no-repeat;
    background-image: url("Images/dream-bg.png");
    background-position: right;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(purple,hotpink);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    position: absolute;
    margin-top: 30px;
    margin-left: 184px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    background-color: white;
}
.experiences-area{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#on-page{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(0, 81, 128), rgb(105, 255, 163));
    border-image-slice: 1;
}
#Off-Page{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, hotpink, green);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 20px;
}
.center{
    text-align: center;
}